<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="main-content" class="col-xs-12">

      <p>
        <strong>Title:</strong>
        <%= @note.title %>
      </p>
       
      <p>
        <strong>Text:</strong>
        <%= @note.text %>
      </p>

      <%= link_to 'Edit', edit_note_path(@note) %> |
      <%= link_to 'Back', notes_path %>

    </div>
  </div>
</div>