<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Home', '/' %></li>
  <li><%= link_to 'WaPo Headline Scraper', controller: 'headlines' %></li>
  <li><%= link_to 'CRUD demo', controller: 'notes' %></li>
  <li><%= link_to 'Code Repository', 'https://github.com/robertcharlesfox/ruby_scraper' %></li>
</ul>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="main-content" class="col-xs-12">

      <h1>Hello, Rails!</h1>
      <h3>This is my 2nd attempt at writing an app with Ruby. Enjoy! - Rob</h3>

    </div>
  </div>
</div>