<h1>Hello, Rails!</h1>
<h3>This is my 2nd attempt at writing an app with Ruby. Enjoy! - Rob</h3>
<%= link_to 'Washington Post headline scraper', controller: 'headlines' %>
<br>
<%= link_to 'CRUD demo', controller: 'articles' %>